
.stats-cards{
    display:flex;
    flex-wrap: wrap;
    width:55%;
    margin-left:65px;
}
.stat-card{
    display:flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    width: 200px;
    height: 220px;
    margin: 10px;
    padding-bottom: 500px;
    padding:15px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.card-title{
    font-size: 24px;
    color: #00b39b;
    margin: 8px 0;
}
.stat-card p{
    font-size: 13px;
}.stat-card img{
    max-width:40px;
}
.stat-card.appointement-card,.stat-card.doctors-card{
    transform: translateY(-20px);
}