.stats-intro{
    width:45%;
}
.stats-title{
    font-size: 34px;
    color:#00b39b;
    font-weight: 300;
    letter-spacing: .3px;
    margin:32px 0 22px 0;
    padding:10px 10px 10px 0;
}
.stats-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7142857143;
    /* margin:22.4px 0; */
    padding: 0 10px 10px 0;
}
.stats-logo{
    position: absolute;
    top:270px;
    left:125px;
}